@import url('https://fonts.googleapis.com/css?family=Sacramento');
 html{
    font-family: 'Sacramento', cursive;
}
 body {
     margin: 0;
     overflow: hidden;
     font-family: Arial, Helvetica, sans-serif;
     background-image: url(paperbackground.png);
    
     overflow-y: visible;
     overflow-x: hidden;


}
 .topnav {
     overflow: hidden;
     background-color: #333;
     font-family: 'Sacramento', cursive;
     text-align: center;
     font-weight: bold;
}

 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 35px;
}
 .topnav a:hover {
     background-color: #ddd;
     color: black;
}
 .topnav .icon {
     display: none;
}
 @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {
        display: none;
    }
     .topnav a.icon {
         float: right;
         display: block;
    }
}
 @media screen and (max-width: 600px) {
     .topnav.responsive {
        position: relative;
    }
     .topnav.responsive .icon {
         position: absolute;
         right: 0;
         top: 0;
    }
     .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
    }
}


/*SIDEBAR*/
 .sidebar {
     width: 200px;
     background-color:#f1f1f1;
     position: absolute;
     height: 100%;
     overflow: hidden;
     background: #333;
     padding-top: 10px;
     font-family: fantasy;
   
}
 @media screen and (max-width: 600px) {
     .sidebar {
         width: auto;
         height: 100%
    }
     .sidebar a {
        float: left;
    }
     .content {
        margin-left: 0;
    }
}
@media screen and (max-width: 600px){
    .getItemBox {position: middle}
}
/*SIDEBAR*/
 .sidebar a {
     text-decoration: none;
     color: #e9e7e7;
}
 .sidebar img {
     margin-left: auto;
     vertical-align: middle;
     margin-top: -2px;
     margin-right: 20px;
}
 .sidebar ul {
     line-height: 40px;
     overflow: hidden;
     margin-left: 0;
     padding-left: 0;
}
 .listItem {
     height: 40px;
     width: 240px;
     transition: .4s;
    /* Geschwindigk. für Animation */
     position: relative;
     left: -40px;
}
 .listItem:hover {
     left: 0;
}
 select {
     width: 100%;
     height: 40px;
     padding-left: 10px;
     background: repeat;
     color: #fff;
     font-family: fantasy;
     font-size: 16px;
     box-shadow: 2px 2px 5px 1px rgba(204, 192, 192, 0.3);
     border-radius: 3px;
     outline: none;
     cursor: pointer;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     border: none;
     overflow: hidden;
}
 select::-ms-expand {
     display: none;
}
 select:focus::-ms-value {
     background-color: transparent;
}
 select option {
     color: #666;
}
 input[type="text"] {
     box-sizing: border-box;
     position: absolute;
     top: 121px;
     left: 321px;
     right: 50px;
     height: 84px;
     width: 311px;
     border: 1px solid #ccc;
     border-radius: 1.5em;
     background: transparent;
     resize: none;
     outline: none;
     text-align:center;
     font-family: fantasy;
     color: #333;
     font-size: 3em;
}
 input[type="text"][required]:focus {
     border-color: #4596ff;
}
 input[type="text"][required]:focus + label[placeholder]:before {
     color: #4596ff;
}
 input[type="text"][required]:focus + label[placeholder]:before, input[type="text"][required]:valid + label[placeholder]:before {
     transition-duration: 0.2s;
     -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
     transform: translate(0, -1.5em) scale(0.9, 0.9);
}
 input[type="text"][required]:invalid + label[placeholder][alt]:before {
     content: attr(alt);
     font-family: fantasy;
}
 input[type="text"][required] + label[placeholder] {
     font-family: fantasy;
     position: absolute;
     left: 320px;
     top: 215px;
     font-size: x-large;
     display: block;
     pointer-events: none;
     line-height: 1.25em;
     margin-top: calc(-3em - 2px);
     margin-bottom: calc((3em - 1em) + 2px);
}
 input[type="text"][required] + label[placeholder]:before {
     content: attr(placeholder);
     display: inline-block;
     margin: 0 calc(1em + 2px);
     padding: 0 2px;
     color: #898989;
     white-space: nowrap;
     transition: 0.5s ease-in-out;
     background-image: linear-gradient(to bottom, #fff, #fff);
     background-size: 100% 5px;
     background-repeat: no-repeat;
     background-position: center;
}

.myBtn{
    display: none;
}

 @keyframes rightToLeftX {
     0% {
         background: linear-gradient(0deg, #4596ff 0%, transparent 0%) 
    }
     5% {
         background: linear-gradient(0deg, #4596ff 5%, transparent 5%) 
    }
     10% {
         background: linear-gradient(0deg, #4596ff 10%, transparent 10%) 
    }
     15% {
         background: linear-gradient(0deg, #4596ff 15%, transparent 15%) 
    }
     20% {
         background: linear-gradient(0deg, #4596ff 20%, transparent 20%) 
    }
     25% {
         background: linear-gradient(0deg, #4596ff 25%, transparent 25%) 
    }
     30% {
         background: linear-gradient(0deg, #4596ff 30%, transparent 30%) 
    }
     35% {
         background: linear-gradient(0deg, #4596ff 35%, transparent 35%) 
    }
     40% {
         background: linear-gradient(0deg, #4596ff 40%, transparent 40%) 
    }
     45% {
         background: linear-gradient(0deg, #4596ff 45%, transparent 45%) 
    }
     50% {
         background: linear-gradient(0deg, #4596ff 50%, transparent 50%) 
    }
     55% {
         background: linear-gradient(0deg, #4596ff 55%, transparent 55%) 
    }
     60% {
         background: linear-gradient(0deg, #4596ff 60%, transparent 60%) 
    }
     65% {
         background: linear-gradient(0deg, #4596ff 65%, transparent 65%) 
    }
     70% {
         background: linear-gradient(0deg, #4596ff 70%, transparent 70%) 
    }
     75% {
         background: linear-gradient(0deg, #4596ff 75%, transparent 75%) 
    }
     80% {
         background: linear-gradient(0deg, #4596ff 80%, transparent 80%) 
    }
     85% {
         background: linear-gradient(0deg, #4596ff 85%, transparent 85%) 
    }
     90% {
         background: linear-gradient(0deg, #4596ff 90%, transparent 90%) 
    }
     95% {
         background: linear-gradient(0deg, #4596ff 95%, transparent 95%) 
    }
     100% {
         background: linear-gradient(0deg, #4596ff 100%, transparent 100%) 
    }
}
 @keyframes leftToRightX {
     0% {
         background: linear-gradient(180deg, #4596ff 0%, transparent 0%) 
    }
     5% {
         background: linear-gradient(180deg, #4596ff 5%, transparent 5%) 
    }
     10% {
         background: linear-gradient(180deg, #4596ff 10%, transparent 10%) 
    }
     15% {
         background: linear-gradient(180deg, #4596ff 15%, transparent 15%) 
    }
     20% {
         background: linear-gradient(180deg, #4596ff 20%, transparent 20%) 
    }
     25% {
         background: linear-gradient(180deg, #4596ff 25%, transparent 25%) 
    }
     30% {
         background: linear-gradient(180deg, #4596ff 30%, transparent 30%) 
    }
     35% {
         background: linear-gradient(180deg, #4596ff 35%, transparent 35%) 
    }
     40% {
         background: linear-gradient(180deg, #4596ff 40%, transparent 40%) 
    }
     45% {
         background: linear-gradient(180deg, #4596ff 45%, transparent 45%) 
    }
     50% {
         background: linear-gradient(180deg, #4596ff 50%, transparent 50%) 
    }
     55% {
         background: linear-gradient(180deg, #4596ff 55%, transparent 55%) 
    }
     60% {
         background: linear-gradient(180deg, #4596ff 60%, transparent 60%) 
    }
     65% {
         background: linear-gradient(180deg, #4596ff 65%, transparent 65%) 
    }
     70% {
         background: linear-gradient(180deg, #4596ff 70%, transparent 70%) 
    }
     75% {
         background: linear-gradient(180deg, #4596ff 75%, transparent 75%) 
    }
     80% {
         background: linear-gradient(180deg, #4596ff 80%, transparent 80%) 
    }
     85% {
         background: linear-gradient(180deg, #4596ff 85%, transparent 85%) 
    }
     90% {
         background: linear-gradient(180deg, #4596ff 90%, transparent 90%) 
    }
     95% {
         background: linear-gradient(180deg, #4596ff 95%, transparent 95%) 
    }
     100% {
         background: linear-gradient(180deg, #4596ff 100%, transparent 100%) 
    }
}
 form {
     justify-content: center;
     width: 600px;
     margin: auto;
     flex-direction: column;
     padding-top: 155px;
}
 label {
     flex-shrink: 0;
     transition: all 200ms ease-in;
     display: flex;
     align-items: center;
     cursor: pointer;
     height: 50px;
     width: 100%;
     padding: 0 10px;
     border-radius: 8px;
     border: 1px solid transparent;
     margin-bottom: 5px;
     font-family: fantasy;
     color: #333;
     font-size: 2em;
}
 label:hover {
     border-color: #ffffff;
     background: transparent;
}
 label.selected {
     border-color: #ffffff;
     text-decoration: line-through;
     text-decoration-color: #4596ff;
     text-decoration-style: double;
     animation: durchstreichen 2s linear;
}
@keyframes durchstreichen {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}

 input[type='radio'], input[type='checkbox'] {
     position: absolute;
     opacity: 0;
}
 label.selected .radio-ghost::before {
     opacity: 1;
     transform: scale(1);
}
 .checkbox-ghost {
     position: relative;
     display: block;
     width: 15px;
     height: 15px;
     border-radius: 5px;
     border: 3px solid #4596ff;
     margin-right: 10px;
     transition: all 200ms ease-in;
}
 label.selected .checkbox-ghost::before {
     animation: leftToRightX 100ms linear forwards;
     transform: rotate(-45deg);
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 3px;
     border-radius: 4px;
     height: 15px;
     margin-left: 6px;
}
 label.selected .checkbox-ghost::after {
     animation: rightToLeftX 100ms linear forwards;
     animation-delay: 100ms;
     transform: rotate(45deg);
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 3px;
     border-radius: 4px;
     height: 15px;
     margin-left: 6px;
}
/* HOVER COLOR */

a svg:hover #facebook,
a svg:hover #instagram { 
  fill: #111;
}

/* GENERAL STYLES */


article { 
  width: 100%; 
  margin: 60px auto; 
  text-align: center;
  zoom: 2;
}
a { 
  outline: none; 
  border: 0; 
  text-decoration: none; 
}
a svg #facebook,
a svg #instagram { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.Items{

flex-shrink: 0;

    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-family: fantasy;
    color: #333;
    font-size: 2em
}
/*
@media only screen and (min-width:800){
    .addText { display: block; }
    .addIcon { display: none; }
  }
  @media only screen and (max-width:799){
    .addText { display: none; }
    .addIcon { display: block; }
  }
  @media only screen and (min-width: 800px){
      .deleteText {display:block;}
      .deleteIcon {display: none;}
  }
  @media only screen and (max-width: 799){
    .deleteText {display:none;}
    .deleteIcon {display: block;}
}
@media only screen and (min-width: 800px){
    .listeHinzufügenText {display: block;}
    .listeHinzufügenIcon {display: none;}
}
@media only screen and (max-width: 799px){
    .listeHinzufügenText {display: none;}
    .listeHinzufügenIcon {display: block;}
}
*/
@media only screen and (max-width:1000px){
    .checkbox-ghost {float:right;}
}
@media only screen and (max-width: 1000px){
    .select {overflow: hidden;}
    .select{width:50%}
}
@media only screen and (min-width: 1000px){
    .selectMobile{display: none;}
    .select{display: block;}
}
@media only screen and (min-width: 1000px){
    #myBtn{display: block;}
}
@media only screen and (max-width: 999px){
    #myBtn{display: none;}
}
@media only screen and (max-width: 999px){
    #myInput{display: none;}
}
@media only screen and (max-width: 999px){
    .placeholder{display:none;}
}